html,body {
  margin: 0;
  padding: 0;
  background-color: skyblue;
}
#viewCanvas {
  display: block;
}
.bar {
  width: 100vw;
  height: 10vh;
  background-color: skyblue;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.bar * {
  margin: auto;
  font-size: 3vh;
  color: white;
  text-decoration: none;
}
.bar a {
  color: white;
}
.bar *:nth-child(2) {
  flex-grow: 3;
}
.bar *:not(:nth-child(2)) {
  padding: 0.5em;
}
