#header {
  height: 10vh;
  background-color: #48f;
  text-align: center;
}
#header .col-6 {
  margin: auto;
}
#viewCanvas {
  height: 75vh;
  margin: auto;
  display: block;
  border: 1px solid black;
}
